In [1]:
import pandas as pd
import geopandas as gpd
import math
from shapely.geometry import Point

C:\Users\mmmiah\AppData\Local\ESRI\conda\envs\geo_env\Lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
C:\Users\mmmiah\AppData\Local\Temp\ipykernel_13924\3882281603.py:2: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [2]:
# read eco_strava Matching geometry
d18=gpd.read_file('D:/AT Census/Eco_Strava_Match.shp')
d18.head()

,Join_Count,TARGET_FID,Field1,index,ID,year,month,day,weekno,dayofweek,...,latitude,longitude,counts,Day_of_Wee,Week_Day_S,day_night,edgeUID,osmId,dist,geometry
0,1,1,1183248,1183248,3577,2018,1,1,1,0,...,32.587700,-117.107025,0.0,Monday,Week Day,night,305679030.0,773713312.0,d11,POINT (-117.10702 32.58770)
1,1,2,4031808,4031808,19211,2018,1,1,1,0,...,32.589455,-117.112420,0.0,Monday,Week Day,night,305679020.0,6007743.0,d11,POINT (-117.11242 32.58946)
2,1,3,3462096,3462096,14096,2018,1,1,1,0,...,32.590091,-117.116342,0.0,Monday,Week Day,night,305675363.0,6050490.0,d11,POINT (-117.11634 32.59009)
3,1,4,3286800,3286800,13761,2018,1,1,1,0,...,32.641544,-117.101470,1.0,Monday,Week Day,night,305687483.0,232484016.0,d11,POINT (-117.10147 32.64154)
4,1,5,5916240,5916240,25253,2018,1,1,1,0,...,32.641792,-117.101530,0.0,Monday,Week Day,night,305687483.0,232484016.0,d11,POINT (-117.10153 32.64179)

In [3]:
d18.columns

Index(['Join_Count', 'TARGET_FID', 'Field1', 'index', 'ID', 'year', 'month',
       'day', 'weekno', 'dayofweek', 'weekday_St', 'starttime', 'latitude',
       'longitude', 'counts', 'Day_of_Wee', 'Week_Day_S', 'day_night',
       'edgeUID', 'osmId', 'dist', 'geometry'],
      dtype='object')

In [4]:
d181=d18[['ID','latitude','longitude', 'edgeUID', 'osmId', 'dist']]
d181.head()

      ID   latitude   longitude      edgeUID        osmId dist
0   3577  32.587700 -117.107025  305679030.0  773713312.0  d11
1  19211  32.589455 -117.112420  305679020.0    6007743.0  d11
2  14096  32.590091 -117.116342  305675363.0    6050490.0  d11
3  13761  32.641544 -117.101470  305687483.0  232484016.0  d11
4  25253  32.641792 -117.101530  305687483.0  232484016.0  d11

In [5]:
d181.shape

(282, 6)

In [6]:

d192=d181.drop_duplicates(subset=['ID','latitude','longitude', 'edgeUID', 'osmId', 'dist'],keep='first')
d192.shape

(282, 6)

In [7]:
# read 2018 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D1_all_edges_monthly_2018-01-01-2018-12-31_ped/da6249909f5eb3a10a7b697fead0a107fa8f8b722d7704f31c017b139e234d22-1671525562155.csv')
d2d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D2_all_edges_monthly_2018-01-01-2018-12-31_ped/c115d4b19c87751fd07643365aa0716e780a0754c6658b95c480a1aa7352753a-1671525606916.csv')
d3d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D3_all_edges_monthly_2018-01-01-2018-12-31_ped/de2f85e0d5a2b31b6ca5cccf8f7403b44614ccd2d4c75ef37e2ab1e7268c30c3-1671525657952.csv')
d4d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D4_all_edges_monthly_2018-01-01-2018-12-31_ped/f57ea4d712c8ee942f571962b1ff577772cb965fc16616c94ccbf27ca6b63fb0-1672873373726.csv')
d5d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D5_all_edges_monthly_2018-01-01-2018-12-31_ped/2d15158427df5c53f5c9bd7fdec5c17350e59d9fab9bceb5abc586744d17c728-1672873417691.csv')
d6d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D6_all_edges_monthly_2018-01-01-2018-12-31_ped/8bd33ebb8b93b0fac3a5c01a4e4010cc2a88d73a9bd739789d8a34ae81243fa9-1672873451312.csv')
d7d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D7_all_edges_monthly_2018-01-01-2018-12-31_ped/750b8c1ffa72afade038b7e4a0dcbda9d5353cea00e1efbe949c4d16a2d6d376-1673929782561.csv')
d8d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D8_all_edges_monthly_2018-01-01-2018-12-31_ped/cb3c511edf6a9e753abb4e33ceacbe0957c18cc32ebba5b7995c5fefbea9ea74-1673929815485.csv')
d9d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D9_all_edges_monthly_2018-01-01-2018-12-31_ped/f8194914acc79ca911f7a9e93a85fe29582c4fef9a8ea2cc2b46c1a19bbb692f-1673929843742.csv')
d10d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D10_all_edges_monthly_2018-01-01-2018-12-31_ped/078e9f280795e7a0fac262216f838e9bad5af60910070458d73602d7dc6dc76e-1674007544225.csv')
d11d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D11_all_edges_monthly_2018-01-01-2018-12-31_ped/5507b65baea985e9ce7aa617b20b5bb24f81d2bcad4d2381392ded938d36cd90-1674007569500.csv')
d12d=pd.read_csv('D:/AT Census/Ped_Strava-2018/D12_all_edges_monthly_2018-01-01-2018-12-31_ped/3765f1ef66e5f58827385c3da5c1d164db6f0dda1b42087c065bd23c716ad2a5-1674007607034.csv')
CA_Strava_data18=pd.concat([d1d,d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data18.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_18_34_people_count,forward_35_54_people_count,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id
0,307079881,"Run,Walk,Hike",2018-08,5,5,0,5,0,0,0,...,0,0,0,0,0,0,0,3.88,0.00,31771995
1,307079881,"Run,Walk,Hike",2018-11,5,0,5,0,5,0,0,...,0,0,0,0,0,0,0,0.00,7.99,31771995
2,307100626,"Run,Walk,Hike",2018-04,5,5,0,5,0,0,0,...,0,0,0,0,0,0,0,2.71,0.00,10280207
3,307100626,"Run,Walk,Hike",2018-10,5,5,0,5,0,0,0,...,0,0,0,0,0,0,0,3.11,0.00,10280207
4,307112461,"Run,Walk,Hike",2018-08,25,10,15,5,5,0,0,...,5,5,5,0,0,0,0,2.28,2.40,352861515

In [8]:
CA_Strava_data18.shape

(12918229, 37)

In [9]:
# join with Strava
eco_stv18=pd.merge(d192,CA_Strava_data18,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv18['year']=2018
eco_stv18.shape

(2825, 44)

In [10]:
# eco_stv18['stv_total']=eco_stv18['forward_trip_count']+eco_stv18['reverse_trip_count']
# eco_stv18['stv_com_total']=eco_stv18['forward_commute_trip_count']+eco_stv18['reverse_commute_trip_count']
# eco_stv18['stv_rec_total']=eco_stv18['forward_leisure_trip_count']+eco_stv18['reverse_leisure_trip_count']
# eco_stv18['stv_com_ratio']=eco_stv18['stv_com_total']/eco_stv18['stv_total']
# eco_stv18['stv_rec_ratio']=eco_stv18['stv_rec_total']/eco_stv18['stv_total']
# eco_stv18.head()

In [11]:
#eco_stv18.to_csv('H:/Desktop/AT Census/Strava Count/Strava 2018 Monthly/eco_strava_monthly_matching2018.csv')

In [12]:
# read 2019 Strava data
d1d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D1_all_edges_monthly_2019-01-01-2019-12-31_ped/da8534952253cd278ed04177cd83e581eecb81ff4598f69ac334c980cdbe08f6-1674071172453.csv')
d2d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D2_all_edges_monthly_2019-01-01-2019-12-31_ped/7ab6850ba795f55bcac231ccf89e0bd275a34203170c2bca249c0d7c01afd445-1674071204485.csv')
d3d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D3_all_edges_monthly_2019-01-01-2019-12-31_ped/ce33db07a1a6242372f938f2b91692ebad5a1103624e8e446a992b97903e4733-1674071231130.csv')
d4d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D4_all_edges_monthly_2019-01-01-2019-12-31_ped/c791e93e31f29075c564cc0d5db02f9b46fe7b8b0d1c68fba7bcbdab0a699bee-1674184867552.csv')
d5d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D5_all_edges_monthly_2019-01-01-2019-12-31_ped/96d68acefa41989afce1386ddc425534776378789830c9916ae3607d9f2ba1a8-1674184893348.csv')
d6d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D6_all_edges_monthly_2019-01-01-2019-12-31_ped/5af4368073489e967c7128abe34b52f7a8669ff46350381838c7ba57a1f71e9c-1674184918804.csv')
d7d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D7_all_edges_monthly_2019-01-01-2019-12-31_ped/d5f5d689f88882b13b199404bc8372956b1ffeda66f2c66d9783c041b89a9d56-1674248853270.csv')
d8d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D8_all_edges_monthly_2019-01-01-2019-12-31_ped/e5486d23de4ad57e06cbe2815868cbcd4a4cf2010552adaaaaf4b55b282c1c8b-1674248879624.csv')
d9d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D9_all_edges_monthly_2019-01-01-2019-12-31_ped/dc6eb7477715106452e07d3e93b89a259abb0e5e081e42a65d789bda5ad46b7b-1674248916426.csv')
d10d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D10_all_edges_monthly_2019-01-01-2019-12-31_ped/11fbd8f91f068311845eb77f28095b8edef19aa04e8e4f15304db34f68a26dca-1674270493581.csv')
d11d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D11_all_edges_monthly_2019-01-01-2019-12-31_ped/db05ed7835f8e600d2f201e7bafe3c93fc146dfa85d192ec74c52a7a27daebc4-1674330740368.csv')
d12d=pd.read_csv('D:/AT Census/Ped_Strava-2019/D12_all_edges_monthly_2019-01-01-2019-12-31_ped/5297521c4b176aaf981e1caaf99f9db00cff239c04081558a1993e57343d4ec3-1674330768182.csv')
CA_Strava_data19=pd.concat([d1d,d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data19.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_18_34_people_count,forward_35_54_people_count,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id
0,307079669,"Run,Walk,Hike",2019-01,5,5,0,5,0,0,0,...,0,0,0,0,0,0,0,2.26,0.00,10313123
1,307091954,"Run,Walk,Hike",2019-08,25,10,15,5,5,0,0,...,0,0,0,0,0,0,0,2.25,2.44,893203654
2,307091954,"Run,Walk,Hike",2019-04,15,5,5,5,5,0,0,...,0,0,0,0,0,0,0,2.09,2.14,893203654
3,307091954,"Run,Walk,Hike",2019-10,40,20,25,5,5,0,0,...,0,0,0,0,0,0,0,2.19,2.11,893203654
4,307091954,"Run,Walk,Hike",2019-03,15,5,5,5,5,0,0,...,0,0,0,0,0,0,0,1.95,2.30,893203654

In [13]:
# join with Strava
eco_stv19=pd.merge(d192,CA_Strava_data19,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv19['year']=2019
eco_stv19.shape

(2833, 44)

In [14]:
# read 2020 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D1_all_edges_monthly_2020-01-01-2020-12-31_ped/02bc25ba5fad6f74f2222d64b0ee0a68c72a637abd159040603d48027a38a1b7-1674330792811.csv')
d2d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D2_all_edges_monthly_2020-01-01-2020-12-31_ped/c904bdb7ab670418978c301d42a0ec20d9aa8c0ee98ce2f3604b73a315250123-1674360311215.csv')
d3d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D3_all_edges_monthly_2020-01-01-2020-12-31_ped/0bb512001b357487fea36194de9f4d93db66ff412bf508f5ca5ff4c3af48303f-1674360351626.csv')
d4d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D4_all_edges_monthly_2020-01-01-2020-12-31_ped/7a5667bb08d1e3bfe233b3ef0a65b98619247a5ea068861be6995f148ce5ab98-1674360489568.csv')
d5d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D5_all_edges_monthly_2020-01-01-2020-12-31_ped/1ed852af7b5d9d2f3d8c34ecca6bed2d5a155a615850a568942087a8558f1a3d-1674415328794.csv')
d6d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D6_all_edges_monthly_2020-01-01-2020-12-31_ped/410400d779121b2a0dbd7b81fb4ad60d501d5662df168e4f9b8ca14cd3f54cca-1674415353055.csv')
d7d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D7_all_edges_monthly_2020-01-01-2020-12-31_ped/988f0be135218f7f53a30086b6477b9c0a15449aa4300dcd5330f7cb587b1b25-1674415378149.csv')
d8d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D8_all_edges_monthly_2020-01-01-2020-12-31_ped/b48f39298e88c83f8722c9200d001f72ac0d10884a9b607c1b398b4784c035b9-1674445538398.csv')
d9d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D9_all_edges_monthly_2020-01-01-2020-12-31_ped/2fa7608c3477bde9d630310a359094145840071d870c7ff882b7256afaccad91-1674445574121.csv')
d10d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D10_all_edges_monthly_2020-01-01-2020-12-31_ped/ad3fe67487781b600018a70b7de9dd0a9c50fb864fa7114635bed7ff7b5af341-1674445605099.csv')
d11d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D11_all_edges_monthly_2020-01-01-2020-12-31_ped/699837abd119c6a030d8ed6f8a6af65510c1e08220861661e6b236169dfc7bb5-1674462963884.csv')
d12d=pd.read_csv('D:/AT Census/Ped_Strava-2020/D12_all_edges_monthly_2020-01-01-2020-12-31_ped/067a89645e789b405e990a082582db222745aac94d7f8e8aa413c97c1bc23ffc-1674510311338.csv')
CA_Strava_data20=pd.concat([d1d, d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data20.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_18_34_people_count,forward_35_54_people_count,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id
0,307091340,"Run,Walk,Hike",2020-04,10,0,5,0,5,0,0,...,0,0,0,0,0,0,0,0.00,1.66,10278877
1,307113813,"Run,Walk,Hike",2020-05,20,10,10,5,5,0,0,...,0,5,5,0,0,0,0,2.33,1.53,10270814
2,307113813,"Run,Walk,Hike",2020-04,15,10,0,5,0,0,0,...,0,5,0,0,0,0,0,1.93,0.00,10270814
3,307113813,"Run,Walk,Hike",2020-10,15,10,0,5,0,0,0,...,0,0,0,0,0,0,0,2.14,0.00,10270814
4,307113813,"Run,Walk,Hike",2020-12,30,15,15,5,5,0,0,...,0,0,5,0,0,0,0,1.04,1.63,10270814

In [15]:
# join with Strava
eco_stv20=pd.merge(d192,CA_Strava_data20,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv20['year']=2020
eco_stv20.shape

(3006, 44)

In [16]:
# read 2021 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D1_all_edges_monthly_2021-01-01-2021-12-31_ped/6a7ef7698495f3d9cff53de7b19bb14102fcc25496d5fbed3fca331f915a3afa-1674510338734.csv')
d2d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D2_all_edges_monthly_2021-01-01-2021-12-31_ped/d1d7065b2c5ad9872fdd14ac603c63f630e57c0a13fb7ec701837b09dd1c690f-1674510364377.csv')
d3d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D3_all_edges_monthly_2021-01-01-2021-12-31_ped/cf401ffbefe26213a124be59f6e0c3bff795c6cad97d518a76d219f10c1af1f6-1674549139748.csv')
d4d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D4_all_edges_monthly_2021-01-01-2021-12-31_ped/832aec69358ffbe5301d8ce56be9ead91cbd1a66cca4f548f315b776267e5914-1674549165932.csv')
d5d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D5_all_edges_monthly_2021-01-01-2021-12-31_ped/965ced73995a7642c5908fe3391512cd1965cea6577cfa203f9e809ba64b9693-1674549191348.csv')
d6d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D6_all_edges_monthly_2021-01-01-2021-12-31_ped/df26d643f26deb518e73765d800b25fbc00ad298172bf20055c33715f55a5972-1674584825642.csv')
d7d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D7_all_edges_monthly_2021-01-01-2021-12-31_ped/fe6b86dc19034d623d60931a8ec8f3aac318bf0f10fcece4380f3e531b25c0d5-1674584852092.csv')
d8d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D8_all_edges_monthly_2021-01-01-2021-12-31_ped/b02e3fa979aab10ca831fccef1a5aeb6f728cd0d6f8785a95aeb447e0b51b3a8-1674584882406.csv')
d9d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D9_all_edges_monthly_2021-01-01-2021-12-31_ped/44ccf0e80992ee27e497e243e8ed6f2cda357c6002d9c73636286b2a4fb334f8-1674629384737.csv')
d10d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D10_all_edges_monthly_2021-01-01-2021-12-31_ped/2236dd98d89fa7213d7fb99af497e31fae0a8db618657ffa823dd83665b8a7eb-1674629408659.csv')
d11d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D11_all_edges_monthly_2021-01-01-2021-12-31_ped/3e27c9ebb0b611d3a2226bc80b77c8ea1d5426401108328ba54e1e60d0646b7d-1674629438072.csv')
d12d=pd.read_csv('D:/AT Census/Ped_Strava-2021/D12_all_edges_monthly_2021-01-01-2021-12-31_ped/874dca0c1e53cbfac47842d8cd9dbf507ce818d7df2886e178733329a4cde2d8-1674677378015.csv')
CA_Strava_data21=pd.concat([d1d, d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data21.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_18_34_people_count,forward_35_54_people_count,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id
0,307089778,"Run,Walk,Hike",2021-09,10,5,5,5,5,0,0,...,0,5,5,0,0,0,0,2.99,2.90,893575966
1,307089778,"Run,Walk,Hike",2021-06,10,5,5,5,5,0,0,...,0,5,0,0,0,0,0,2.86,1.21,893575966
2,307089778,"Run,Walk,Hike",2021-12,5,0,5,0,5,0,0,...,0,0,5,0,0,0,0,0.00,2.92,893575966
3,307089778,"Run,Walk,Hike",2021-11,20,15,10,5,5,0,0,...,0,5,5,0,0,0,0,1.88,1.96,893575966
4,307089778,"Run,Walk,Hike",2021-02,10,0,10,0,5,0,0,...,0,0,0,0,0,0,0,0.00,2.16,893575966

In [17]:
# join with Strava
eco_stv21=pd.merge(d192,CA_Strava_data21,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv21['year']=2021
eco_stv21.shape

(2993, 44)

In [19]:
#eco_stv21.to_csv('H:/Desktop/AT Census/Strava Count/Strava 2021 Monthly/eco_strava_monthly_matching2021.csv')

In [21]:
# read 2022 Data
# Read distrcit 1-12 Strava data
d1d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D1_all_edges_monthly_2022-01-01-2022-12-31_ped/3d9afff33f3139d19cf3c88ab62f110d9465d6e8db2fc9059bcbc2ee638fceeb-1674682863042.csv')
d2d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D2_all_edges_monthly_2022-01-01-2022-12-31_ped/35350b3da8a8decbf49c56652460757750e3a98b3be3394ef6d2f0ff0d49f9ed-1674682883119.csv')
d3d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D3_all_edges_monthly_2022-01-01-2022-12-31_ped/6616bffdc73bd8bfcacf65797dcff7fdb2c56f966bb094685ca072dc351f43b1-1674724296214.csv')
d4d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D4_all_edges_monthly_2022-01-01-2022-12-31_ped/e16f86febe979307485ec1d171ed45e3d51b6d14bcf7ea66aef89e771218f1dd-1674759079730.csv')
d5d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D5_all_edges_monthly_2022-01-01-2022-12-31_ped/1cb4645986fc76cfa0b9f9a13849b31902c36aa875f312032a67f3ed49282906-1674759103752.csv')
d6d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D6_all_edges_monthly_2022-01-01-2022-12-31_ped/7ec1ad34aa3e620421abd5e3b316f7700c48215b64d88d0f5590dc07aa1f99ee-1674759136043.csv')
d7d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D7_all_edges_monthly_2022-01-01-2022-12-31_ped/3fe6de05c2674fb7278c4077639c1768f126ad78cbd637c3ac9c42d4c240ce7f-1674927326296.csv')
d8d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D8_all_edges_monthly_2022-01-01-2022-12-31_ped/cfefc5cdffcfed9300571b9b1f0bbbacfd9debafe7ead5c01c1d098b353b8e6c-1674927347859.csv')
d9d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D9_all_edges_monthly_2022-01-01-2022-12-31_ped/8a25e47ca4ce096ac2780be242d671633f530d5ec3e0a8a551327757777db2d8-1674927379171.csv')
d10d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D10_all_edges_monthly_2022-01-01-2022-12-31_ped/9ceeec7acbcc38aa2158ada655897e681ed74e2bb13c64e373997cf2d3f15a76-1674942353921.csv')
d11d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D11_all_edges_monthly_2022-01-01-2022-12-31_ped/7ec903b2e5a4497153087a3d8b38183cc6417bda1cf17b3e3b84bf31bdbe5e1c-1675052771836.csv')
d12d=pd.read_csv('D:/AT Census/Ped_Strava-2022/D12_all_edges_monthly_2022-01-01-2022-12-31_ped/ce491fb6173c052c303ce108c6c2a3225e287752d6899ca37827a3b70d0b758f-1675052863366.csv')
CA_Strava_data22=pd.concat([d1d, d2d,d3d,d4d,d5d,d6d,d7d,d8d,d9d,d10d,d11d,d12d],axis=0)
CA_Strava_data22.head()

,edge_uid,activity_type,month,total_trip_count,forward_trip_count,reverse_trip_count,forward_people_count,reverse_people_count,forward_commute_trip_count,reverse_commute_trip_count,...,reverse_18_34_people_count,forward_35_54_people_count,reverse_35_54_people_count,forward_55_64_people_count,reverse_55_64_people_count,forward_65_plus_people_count,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id
0,307093950,"Run,Walk,Hike",2022-02,5,5,0,5,0,0,0,...,0,0,0,0,0,0,0,2.00,0.00,36837611
1,307111698,"Run,Walk,Hike",2022-06,80,40,40,15,15,0,0,...,5,10,10,0,0,0,0,3.05,3.12,10270744
2,307111698,"Run,Walk,Hike",2022-02,150,85,65,30,30,0,0,...,20,10,5,0,0,0,0,3.22,3.23,10270744
3,307111698,"Run,Walk,Hike",2022-12,130,75,55,25,20,0,0,...,15,5,5,0,0,0,0,3.16,3.01,10270744
4,307111698,"Run,Walk,Hike",2022-01,175,110,65,40,25,0,0,...,20,10,5,0,0,0,0,3.18,3.18,10270744

In [22]:
# join with Strava
eco_stv22=pd.merge(d192,CA_Strava_data22,left_on=['edgeUID','osmId'],right_on=['edge_uid','osm_reference_id'],how='inner')
eco_stv22['year']=2022
eco_stv22.shape

(3002, 44)

# combine all year Strava volume

In [24]:
eco_stv=pd.concat([eco_stv18,eco_stv19,eco_stv20,eco_stv21,eco_stv22],axis=0)
eco_stv.shape

(14659, 44)

In [25]:
eco_stv['stv_total']=eco_stv['forward_trip_count']+eco_stv['reverse_trip_count']
eco_stv['stv_com_total']=eco_stv['forward_commute_trip_count']+eco_stv['reverse_commute_trip_count']
eco_stv['stv_rec_total']=eco_stv['forward_leisure_trip_count']+eco_stv['reverse_leisure_trip_count']
eco_stv['stv_com_ratio']=eco_stv['stv_com_total']/eco_stv['stv_total']
eco_stv['stv_rec_ratio']=eco_stv['stv_rec_total']/eco_stv['stv_total']
eco_stv.head()

,ID,latitude,longitude,edgeUID,osmId,dist,edge_uid,activity_type,month,total_trip_count,...,reverse_65_plus_people_count,forward_average_speed,reverse_average_speed,osm_reference_id,year,stv_total,stv_com_total,stv_rec_total,stv_com_ratio,stv_rec_ratio
0,3577,32.5877,-117.107025,305679030.0,773713312.0,d11,305679030,"Run,Walk,Hike",2018-08,5,...,0,0.00,2.24,773713312,2018,5,0,5,0.0,1.0
1,3577,32.5877,-117.107025,305679030.0,773713312.0,d11,305679030,"Run,Walk,Hike",2018-01,5,...,0,0.00,1.50,773713312,2018,5,0,10,0.0,2.0
2,3577,32.5877,-117.107025,305679030.0,773713312.0,d11,305679030,"Run,Walk,Hike",2018-04,20,...,0,0.00,2.29,773713312,2018,5,0,20,0.0,4.0
3,3577,32.5877,-117.107025,305679030.0,773713312.0,d11,305679030,"Run,Walk,Hike",2018-07,5,...,0,1.97,0.00,773713312,2018,5,0,5,0.0,1.0
4,3577,32.5877,-117.107025,305679030.0,773713312.0,d11,305679030,"Run,Walk,Hike",2018-03,5,...,0,2.14,1.71,773713312,2018,10,0,10,0.0,1.0

In [26]:
eco_stv.to_csv('D:/AT Census/eco_strava_monthly_matching2018_2022.csv')